<%- include('../partials/header') %>

<h2>Movie List</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% recipes.forEach(function(r) { %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.description %></td>
        <td><a href="/recipes/<%= r._id %>">DETAILS</a></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('../partials/header') %>