<%- include('../partials/header') %>

<section id="show-page">
  <div>Name: </div>
  <div><%= recipe.name %></div>
  <div>Description: </div>
  <div><%= recipe.description %></div>
  <div>Ingredients: </div>
  <div><%= recipe.ingredients %></div>
  <div>Instructions: </div>
  <div><%= recipe.instructions %></div>
</section>
  
<%- include('../partials/footer') %>