<%- include('../partials/header') %>

<section id="show-page">
  <div>Name: </div>
  <div><%= recipe.name %></div>
  <div>Description: </div>
  <div><%= recipe.description %></div>
  <div>Instructions: </div>
  <div><%= recipe.instructions %></div>
  <div>Ingredients: </div>
    <ul>
      <%- recipe.ingredients.map(i =>
        `<li>${i.name} <small>${i.measurement}</small></li>`
      ).join('') %>
    </ul>
</section>

<form id="add-ing-to-list" action="/recipes/<%= recipe._id %>/ingredients" method="POST">
  <select name="ingredientId">
    <%- ingredients.map(i =>
      `<option value="${i._id}">${i.name}</option>`
    ).join('') %>
  </select>
  <button type="submit">Add to Ingredients</button>
</form>

<br><br><h2>Comments</h2>
<form id="add-comment-form" method="POST"
  action="/recipes/<%= recipe._id %>/comments">
  <label>Comment:</label>
  <textarea name="content"></textarea>
  <input type="submit" value="Add Comment">
</form>

<% if (recipe.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <% recipe.comments.forEach(function(c) { %>
        <tr>
          <!-- .toLocaleDateString() provides a more friendly date format -->
          <td><%= c.createdAt.toLocaleDateString() %></td>
          <td><%= c.content %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Comments Yet</h5>
<% } %>

<%- include('../partials/footer') %>