<%- include('../partials/header') %>

<section id="show-page">
  <div>Name: </div>
  <div><%= recipe.name %></div>
  <div>Description: </div>
  <div><%= recipe.description %></div>
  <div>Ingredients: </div>
  <div><%= recipe.ingredients %></div>
  <div>Instructions: </div>
  <div><%= recipe.instructions %></div>
</section>
<br><br><h2>Comments</h2>
<form id="add-comment-form" method="POST"
  action="/recipes/<%= recipe._id %>/comments">
  <label>Comment:</label>
  <textarea name="content"></textarea>
  <input type="submit" value="Add Comment">
</form>

<% if (recipe.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <% recipe.comments.forEach(function(c) { %>
        <tr>
          <!-- .toLocaleDateString() provides a more friendly date format -->
          <td><%= c.createdAt.toLocaleDateString() %></td>
          <td><%= c.content %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Comments Yet</h5>
<% } %>

<%- include('../partials/footer') %>